*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
  background: #ffffff;
}

li {
  list-style: none;
}

main {
  margin: 0 6rem;
}

body {
  font-family: 'lato', sans-serif;
}

input {
  font-family: 'lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

li {
  font-family: Lato;
  font-size: 18px;
}

.card {
  font-family: 'lato', sans-serif;
  font-size: 12px;
}

.card span, .card h5 {
  font-size: 18px;
}

.card li {
  font-size: 12px;
}

.recherche button {
  border: none;
  background-color: #E7E7E7;
  border-radius: 0 5px 5px 0;
  padding: 0 1rem;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 42px;
}

header h1 {
  /* Les petits plats */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  text-align: center;
  margin-top: 0;
  color: #D04F4F;
}

.rechercheContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.rechercheContainer button {
  border-width: 0;
  background: #E7E7E7;
  padding: 0 0.5rem;
}

#recherche {
  width: 100%;
  background: #E7E7E7;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  border: none;
}

#recherche[type="text"] {
  padding: 1.5rem;
}

#recherche:focus-visible {
  outline-width: 0;
}

section {
  margin-bottom: 4rem;
}

.list-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 530px;
}

.container {
  width: auto;
  max-width: 540px;
  margin-left: 0;
  margin-right: 15px;
}

.col-4 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.filtresContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-chevron-down {
  color: white;
}

.container--collapse {
  width: 11rem;
}

.container--ingredients > div, .container--ingredients input {
  background: #3282F7;
  border: none;
  border-radius: 5px;
  color: white;
  padding-bottom: 7px;
  margin-bottom: -7px;
}

.container--ingredients > div::-webkit-input-placeholder, .container--ingredients input::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--ingredients > div:-ms-input-placeholder, .container--ingredients input:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--ingredients > div::-ms-input-placeholder, .container--ingredients input::-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--ingredients > div::placeholder, .container--ingredients input::placeholder {
  color: white;
  font-size: 16px;
}

.container--ingredients > div:focus-visible, .container--ingredients input:focus-visible {
  outline-width: 0;
}

.container--ingredients > div a, .container--ingredients input a {
  color: white;
}

.container--appareils > div, .container--appareils input {
  background: #68D9A4;
  width: 11rem;
  border: none;
  border-radius: 5px;
  color: white;
  padding-bottom: 7px;
  margin-bottom: -7px;
}

.container--appareils > div::-webkit-input-placeholder, .container--appareils input::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--appareils > div:-ms-input-placeholder, .container--appareils input:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--appareils > div::-ms-input-placeholder, .container--appareils input::-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--appareils > div::placeholder, .container--appareils input::placeholder {
  color: white;
  font-size: 16px;
}

.container--appareils > div:focus-visible, .container--appareils input:focus-visible {
  outline-width: 0;
}

.container--appareils > div a, .container--appareils input a {
  color: white;
}

.container--ustensiles > div, .container--ustensiles input {
  background: #ED6454;
  width: 11rem;
  border: none;
  border-radius: 5px;
  color: white;
  padding-bottom: 7px;
  margin-bottom: -7px;
}

.container--ustensiles > div::-webkit-input-placeholder, .container--ustensiles input::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--ustensiles > div:-ms-input-placeholder, .container--ustensiles input:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--ustensiles > div::-ms-input-placeholder, .container--ustensiles input::-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

.container--ustensiles > div::placeholder, .container--ustensiles input::placeholder {
  color: white;
  font-size: 16px;
}

.container--ustensiles > div:focus-visible, .container--ustensiles input:focus-visible {
  outline-width: 0;
}

.container--ustensiles > div a, .container--ustensiles input a {
  color: white;
}

.recipesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 380px;
  height: 364px;
  margin-bottom: 3rem;
}
/*# sourceMappingURL=main.css.map */