.recipesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .noResult{
        background: #E7E7E7;
        font-weight: bold;
        padding: 1rem;
        border-radius: 20px;
    }
}

.card {
    width: 380px;
    // height: 364px;
    margin-bottom: 3rem;
}

.recipesDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 10vh;
}