.recherche{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#recherche{
    width: 100%;
    background: #E7E7E7;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    border: none;
        &[type="text"] {
            padding: 1.5rem;
        }
        &:focus-visible{
            outline-width: 0;
        }
}

.list-group {
    flex-wrap: wrap;
    max-height: 530px;
}

.container {
    width: auto;
    max-width: 540px;
    margin-left: 0;
    margin-right: 15px;
}

.col-4 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.filtresContainer {
    display: flex;
}

.fa-chevron-down {
    color: white;
}

.container--ingredients {
    // width: 11rem;
}

.container--ingredients>div, .container--ingredients input {
    background: #3282F7;
    @include filtreInput;
}

.container--appareils {
    width: 11rem;
}

.container--appareils>div, .container--appareils input {
    background: #68D9A4;
    width: 11rem;
    @include filtreInput;
}

.container--ustensiles {
    width: 11rem;
}
.container--ustensiles>div, .container--ustensiles input {
    background: #ED6454;
    width: 11rem;
    @include filtreInput;
}