*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: auto;
  box-sizing: border-box;
  max-width: 1440px;
  background: #ffffff;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  margin: 0 6rem;
}

body {
  font-family: "lato", sans-serif;
}

input {
  font-family: "lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

li {
  font-family: Lato;
  font-size: 18px;
}

.card {
  font-family: "lato", sans-serif;
  font-size: 12px;
}
.card span, .card h5 {
  font-size: 18px;
}
.card li {
  font-size: 12px;
}

button {
  border: none;
  border-width: 0;
}

.badge {
  font-size: 14px;
  padding: 0 0.6rem 0 1.3rem;
  margin-right: 1rem;
  color: #ffffff;
}
.badge--ingredient {
  background-color: #3282F7;
}
.badge--appareil {
  background-color: #68D9A4;
}
.badge--ustensile {
  background-color: #ED6454;
}

.fa-times-circle:before {
  color: #ffffff;
  font-size: 1.2rem;
}

.rechercheContainer button {
  background: #E7E7E7;
  padding: 0 0.5rem;
  border-radius: 0 5px 5px 0;
}

.btn {
  border-radius: 0 5px 5px 0;
}

header div {
  display: flex;
  justify-content: space-around;
  margin-top: 42px;
}
header h1 {
  /* Les petits plats */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  text-align: center;
  margin-top: 0;
  color: #D04F4F;
}

.recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 380px;
  margin-bottom: 3rem;
}

.recipesDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10vh;
}

.rechercheContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#mainSearch {
  width: 100%;
  background: #E7E7E7;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  border: none;
}
#mainSearch[type=text] {
  padding: 1.5rem;
}
#mainSearch:focus-visible {
  outline-width: 0;
}

section {
  margin-bottom: 4rem;
}

.fa-chevron-down {
  color: white;
}

.filtresContainer {
  display: flex;
  flex-wrap: wrap;
}

.container--ingredients input {
  border-radius: 5px 0 0 5px;
}
.container--ingredients input, .container--ingredients button, .container--ingredients .dropdown-menu, .container--ingredients .col-4 {
  background: #3282F7;
  border: none;
  color: white;
}
.container--ingredients input::placeholder, .container--ingredients button::placeholder, .container--ingredients .dropdown-menu::placeholder, .container--ingredients .col-4::placeholder {
  color: white;
  font-size: 16px;
}
.container--ingredients input:focus-visible, .container--ingredients button:focus-visible, .container--ingredients .dropdown-menu:focus-visible, .container--ingredients .col-4:focus-visible {
  outline-width: 0;
}
.container--ingredients input a, .container--ingredients button a, .container--ingredients .dropdown-menu a, .container--ingredients .col-4 a {
  color: white;
}
.container--ingredients input .selected, .container--ingredients button .selected, .container--ingredients .dropdown-menu .selected, .container--ingredients .col-4 .selected {
  display: none;
}
.container--ingredients a.hide {
  display: none;
}
.container--ingredients .show input::placeholder {
  color: #98C0FB;
}

.container--appareils input {
  border-radius: 5px 0 0 5px;
}
.container--appareils input, .container--appareils button, .container--appareils .dropdown-menu, .container--appareils .col-4 {
  background: #68D9A4;
  border: none;
  color: white;
}
.container--appareils input::placeholder, .container--appareils button::placeholder, .container--appareils .dropdown-menu::placeholder, .container--appareils .col-4::placeholder {
  color: white;
  font-size: 16px;
}
.container--appareils input:focus-visible, .container--appareils button:focus-visible, .container--appareils .dropdown-menu:focus-visible, .container--appareils .col-4:focus-visible {
  outline-width: 0;
}
.container--appareils input a, .container--appareils button a, .container--appareils .dropdown-menu a, .container--appareils .col-4 a {
  color: white;
}
.container--appareils input .selected, .container--appareils button .selected, .container--appareils .dropdown-menu .selected, .container--appareils .col-4 .selected {
  display: none;
}

.container--ustensiles input {
  border-radius: 5px 0 0 5px;
}
.container--ustensiles input, .container--ustensiles button, .container--ustensiles .dropdown-menu, .container--ustensiles .col-4 {
  background: #ED6454;
  border: none;
  color: white;
}
.container--ustensiles input::placeholder, .container--ustensiles button::placeholder, .container--ustensiles .dropdown-menu::placeholder, .container--ustensiles .col-4::placeholder {
  color: white;
  font-size: 16px;
}
.container--ustensiles input:focus-visible, .container--ustensiles button:focus-visible, .container--ustensiles .dropdown-menu:focus-visible, .container--ustensiles .col-4:focus-visible {
  outline-width: 0;
}
.container--ustensiles input a, .container--ustensiles button a, .container--ustensiles .dropdown-menu a, .container--ustensiles .col-4 a {
  color: white;
}
.container--ustensiles input .selected, .container--ustensiles button .selected, .container--ustensiles .dropdown-menu .selected, .container--ustensiles .col-4 .selected {
  display: none;
}

.dropdown {
  display: block;
  margin-right: 1.5rem;
  margin-top: 1rem;
}
.dropdown .row {
  height: 4rem;
  margin: 0;
}
.dropdown .row--collapse {
  width: 11rem;
}
.dropdown .row--collapse .fa-chevron-down {
  transform: rotate(0deg);
  transition: 0.6s;
}
.dropdown .show {
  width: 41rem;
}
.dropdown .show .fa-chevron-down {
  transform: rotate(180deg);
  transition: 1s;
}
.dropdown-menu {
  margin: 0;
  border-radius: 0;
}
.dropdown-menu.show {
  padding: 1rem 0;
  margin-top: -7px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.col-4 {
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:focus {
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
