*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: auto;
  box-sizing: border-box;
  max-width: 1440px;
  background: #ffffff;
}

main {
  margin: 0 6rem;
}

body {
  font-family: "lato", sans-serif;
}

input {
  font-family: "lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

li {
  font-family: Lato;
  font-size: 18px;
}

.recherche button {
  border: none;
  background-color: #E7E7E7;
  border-radius: 0 5px 5px 0;
  padding: 0 1rem;
}

header div {
  display: flex;
  justify-content: space-around;
  margin-top: 42px;
}
header h1 {
  /* Les petits plats */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  text-align: center;
  margin-top: 0;
  color: #D04F4F;
}

.recherche {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#recherche {
  width: 100%;
  background: #E7E7E7;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  border: none;
}
#recherche[type=text] {
  padding: 1.5rem;
}
#recherche:focus-visible {
  outline-width: 0;
}

.list-group {
  flex-wrap: wrap;
  max-height: 530px;
}

.container {
  width: auto;
  max-width: 540px;
  margin-left: 0;
  margin-right: 15px;
}

.col-4 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.filtresContainer {
  display: flex;
}

.fa-chevron-down {
  color: white;
}

.container--ingredients > div, .container--ingredients input {
  background: #3282F7;
  border: none;
  border-radius: 5px;
  color: white;
  padding-bottom: 7px;
  margin-bottom: -7px;
}
.container--ingredients > div::placeholder, .container--ingredients input::placeholder {
  color: white;
  font-size: 16px;
}
.container--ingredients > div:focus-visible, .container--ingredients input:focus-visible {
  outline-width: 0;
}
.container--ingredients > div a, .container--ingredients input a {
  color: white;
}

.container--appareils {
  width: 11rem;
}

.container--appareils > div, .container--appareils input {
  background: #68D9A4;
  width: 11rem;
  border: none;
  border-radius: 5px;
  color: white;
  padding-bottom: 7px;
  margin-bottom: -7px;
}
.container--appareils > div::placeholder, .container--appareils input::placeholder {
  color: white;
  font-size: 16px;
}
.container--appareils > div:focus-visible, .container--appareils input:focus-visible {
  outline-width: 0;
}
.container--appareils > div a, .container--appareils input a {
  color: white;
}

.container--ustensiles {
  width: 11rem;
}

.container--ustensiles > div, .container--ustensiles input {
  background: #ED6454;
  width: 11rem;
  border: none;
  border-radius: 5px;
  color: white;
  padding-bottom: 7px;
  margin-bottom: -7px;
}
.container--ustensiles > div::placeholder, .container--ustensiles input::placeholder {
  color: white;
  font-size: 16px;
}
.container--ustensiles > div:focus-visible, .container--ustensiles input:focus-visible {
  outline-width: 0;
}
.container--ustensiles > div a, .container--ustensiles input a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
