body {
    font-family: 'lato', sans-serif;
}

input{
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

li {
    font-family: Lato;
    font-size: 18px;
}

.card {
    font-family: 'lato', sans-serif;
    font-size: 12px;
    span, h5{
        font-size: 18px;
    }
    li {
        font-size: 12px;
    }
}