.rechercheContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#recherche{
    width: 100%;
    background: #E7E7E7;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    border: none;
        &[type="text"] {
            padding: 1.5rem;
        }
        &:focus-visible{
            outline-width: 0;
        }
}

section {
    margin-bottom: 4rem;
}

.fa-chevron-down {
    color: white;
}        

.filtresContainer {
    display: flex;
    flex-wrap: wrap;
}

.container--ingredients {
    input {
        border-radius: 5px 0 0 5px;
    }
    input, button, .dropdown-menu, .col-4 {
    background: #3282F7;
    @include filtreInput;
    }
    .show input::placeholder {
        color: #98C0FB;
    }
}

.container--appareils {
    input {
        border-radius: 5px 0 0 5px;
    }
    input, button, .dropdown-menu, .col-4 {
    background: #68D9A4;
    @include filtreInput;
    }
}

.container--ustensiles {
    input {
        border-radius: 5px 0 0 5px;
    }
    input, button, .dropdown-menu, .col-4 {
    background: #ED6454;
    @include filtreInput;
    }
}