@mixin filtreInput {
    border: none;
    color: white;
        &::placeholder{
            color: white;
            font-size: 16px;
        }
        &:focus-visible{
            outline-width: 0;
        }
        a {
            color: white;
        }
        .selected {
            display: none;
            // text-decoration: line-through;
            // color: lightgrey;
        }
}